{% extends 'basetheam.html' %}

{%block content%}

<div class="card">

    <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
    <h1>Melhem Barakat</h1>
    <input type="submit" value="Follow" style="width: 100px; height: 30px; margin-left: 670px;">
<p>Melhem Barakat, also known as Melhim Barakat, or Abou Majd was a Lebanese singer,
    songwriter, and melodist. He has toured Australia, South America, Canada, and the 
    United States.</p>
<p>Born: August 15, 1945,Lebanon</p>
<p>Died: October 28, 2016,Beiurt</p>
<h3>Albums</h3>
<p>Ta'a Nensa</p>
<audio controls>
    Ta'a Nensa:  <source src="" type="audio/"> <button>Download</button>
    Badak Maleoun Seneh: <source src="" type="audio/"> <button>Download</button>
</audio>
<a href="/artists">back</a>
</div>
{%endblock%}