    {% extends 'basetheam.html' %}

    {%block content%}
    <div  style="display: flex; width: 0px auto; width: 1000px;" >
        <div class="container my-4">
        <hr class="mb-5"/>
        
            <!--Grid row-->
            <div class="row text-center">
        
            <!--Grid column-->
            <div class="col-md-6 mb-4">
        
                <h2 class="my-5 h2"><a href="/artistprofile"> Melhim Barakat</a></h2>
        
                <img class="rounded-circle" alt="100x100" src="static/imgs/Melhem-Barakat.jpeg"
                data-holder-rendered="true" style="width: 300px;height: 300px;">
        
            </div>
            <!--Grid column-->
        
            <!--Grid column-->
            <div class="col-md-6 mb-4">
        
                <h2 class="my-5 h2"><a href="/artistprofile"> Um Kalthoum </a></h2>
        
                <img class="rounded-circle" alt="100x100" src="static/imgs/um-kalthom.jpeg"
                data-holder-rendered="true" style="width: 300px;height: 300px;">
        
            </div>

            
            <!--Grid column-->
        
            </div>
            <!--Grid row-->
        
        </div>
    </div>
    {%endblock%}