{% extends 'basetheam.html' %}

{%block content%}
<div  style="display: flex; width: 0px auto; width: 1000px;" >
<div>
    <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
    <p><a href="/artistprofile">Melhem-Barakat</a></p>

</div>
<div>
    <img src="static/imgs/ziad-rahbani-zz.jpeg" alt="Ziad-rahbani" style="border-radius: 50%; width: 100px; height: 100px;">
    <p><a href="/artistprofile">Ziad-rahbani</a></p>
</div>
<div>
    <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
    <p><a href="/artistprofile">Melhem-Barakat</a></p>

</div>
<div>
    <img src="static/imgs/ziad-rahbani-zz.jpeg" alt="Ziad-rahbani" style="border-radius: 50%; width: 100px; height: 100px;">
    <p><a href="/artistprofile"> Ziad-rahbani</a></p>
</div>
<div>
    <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
    <p><a href="/artistprofile">Melhem-Barakat</a></p>

</div>
</div>
<div  style="display: flex; width: 0px auto; width: 1000px;" >
    <div>
        <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
        <p><a href="/artistprofile">Melhem-Barakat</a></p>
    
    </div>
    <div>
        <img src="static/imgs/ziad-rahbani-zz.jpeg" alt="Ziad-rahbani" style="border-radius: 50%; width: 100px; height: 100px;">
        <p><a href="/artistprofile">Ziad-rahbani</a></p>
    </div>
    <div>
        <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
        <p><a href="/artistprofile">Melhem-Barakat</a></p>
    
    </div>
    <div>
        <img src="static/imgs/ziad-rahbani-zz.jpeg" alt="Ziad-rahbani" style="border-radius: 50%; width: 100px; height: 100px;">
        <p><a href="/artistprofile"> Ziad-rahbani</a></p>
    </div>
    <div>
        <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
        <p><a href="/artistprofile">Melhem-Barakat</a></p>
    
    </div>
    </div>
    <div  style="display: flex; width: 0px auto; width: 1000px;" >
        <div>
            <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
            <p><a href="/artistprofile">Melhem-Barakat</a></p>
        
        </div>
        <div>
            <img src="static/imgs/ziad-rahbani-zz.jpeg" alt="Ziad-rahbani" style="border-radius: 50%; width: 100px; height: 100px;">
            <p><a href="/artistprofile">Ziad-rahbani</a></p>
        </div>
        <div>
            <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
            <p><a href="/artistprofile">Melhem-Barakat</a></p>
        
        </div>
        <div>
            <img src="static/imgs/ziad-rahbani-zz.jpeg" alt="Ziad-rahbani" style="border-radius: 50%; width: 100px; height: 100px;">
            <p><a href="/artistprofile"> Ziad-rahbani</a></p>
        </div>
        <div>
            <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
            <p><a href="/artistprofile">Melhem-Barakat</a></p>
        
        </div>
        </div>
        <div  style="display: flex; width: 0px auto; width: 1000px;" >
            <div>
                <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
                <p><a href="/artistprofile">Melhem-Barakat</a></p>
            
            </div>
            <div>
                <img src="static/imgs/ziad-rahbani-zz.jpeg" alt="Ziad-rahbani" style="border-radius: 50%; width: 100px; height: 100px;">
                <p><a href="/artistprofile">Ziad-rahbani</a></p>
            </div>
            <div>
                <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
                <p><a href="/artistprofile">Melhem-Barakat</a></p>
            
            </div>
            <div>
                <img src="static/imgs/ziad-rahbani-zz.jpeg" alt="Ziad-rahbani" style="border-radius: 50%; width: 100px; height: 100px;">
                <p><a href="/artistprofile"> Ziad-rahbani</a></p>
            </div>
            <div>
                <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
                <p><a href="/artistprofile">Melhem-Barakat</a></p>
            
                
            </div>
            </div>
{%endblock%}