{% extends 'basetheam.html' %}

{%block content%}

<div class="card">
    
    <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
    <h1>Melhem Barakat</h1>
    <input type="submit" value="Follow" style="width: 100px; height: 30px; margin-left: 670px;">
<p>Melhem Barakat, also known as Melhim Barakat, or Abou Majd was a Lebanese singer,
    songwriter, and melodist. He has toured Australia, South America, Canada, and the 
    United States.</p>
<p>Born: August 15, 1945,Lebanon</p>
<p>Died: October 28, 2016,Beiurt</p>
{%for i in allmusic%}
<h3>{{i.song_name}}</h3>
        <audio controls>
        <source src="{{i.music.url}}" type="audio/ogg">
        </audio>
        {%endfor%}
<div class="form-group">
<form action="addmusic" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="songtitle">Song Title</label>
    <input type="text" name="songtitle" class="form-control"><br>
    <label for="songwriter">Song Writer</label>
    <input type="text" name="songwriter" class="form-control"><br>
    <label for="songcomposer">Song Composer</label>
    <input type="text" name="songcomposer" class="form-control"><br>
    <label for="songmp3">Song MP3</label>
    <input type="file" name="songmp3" class="form-control"><br>
    <input type="submit" value="upload" class="btn btn-dark" style="margin-left: 140px;">
</form>
</div>
<div class="form-group">
    <ul class="list-group list-group-flush" name="top10">
        <li class="list-group-item" >Artist Release</li>
        {%for i in allmusic%}
        <li class="list-group-item"><a href="/songpage">{{i.song_name}}</a> <form action="delete/{{i.id}}" method="POST">{% csrf_token %}<input type="submit" value="Delete" class="btn btn-danger"> </form> </li>
        
        {%endfor%}
    </ul>
</div>
<a href="/artists">back</a>
</div>
{%endblock%}