{% extends 'basetheam.html' %}

{%block content%}
<main style="display: flex; margin-top: 100px;">
<div class="NewRelease">
    <ul class="list-group list-group-flush" >
    <li class="list-group-item"> New Release</li>
    <li class="list-group-item"><a href="/songpage"> Free Palestine</a></li>
    <li class="list-group-item"><a href="/songpage">Enta W Ana</a>  </li>
    <li class="list-group-item"><a href="/songpage">Ahwaak</a>  </li>
    <li class="list-group-item"><a href="/songpage">Ween Elmalayeen</a>  </li>
    <li class="list-group-item"><a href="/songpage">Dear </a>  </li>
    <li class="list-group-item"><a href="/songpage">For Ever</a>  </li>
    </ul>
</div>
<div class="form-group">
    
    <ul class="list-group list-group-flush" name="top10">
        <li class="list-group-item" >TOP 10</li>
        <li class="list-group-item"><a href="/songpage">American flamingo</a></li>
        <li class="list-group-item"><a href="/songpage">Greater flamingo</a></li>
        <li class="list-group-item"><a href="/songpage">Lesser flamingo</a></li> 
        <li class="list-group-item"><a href="/songpage">Andean flamingo</a></li>
        <li class="list-group-item"><a href="/songpage">Chilean flamingo</a></li>
        <li class="list-group-item"><a href="/songpage">James's flamingo</a></li> 
        <li class="list-group-item"><a href="/songpage">James's flamingo</a></li> 
        <li class="list-group-item"><a href="/songpage">James's flamingo</a></li> 
        <li class="list-group-item"><a href="/songpage">James's flamingo</a></li> 
        <li class="list-group-item"><a href="/songpage">James's flamingo</a></li> 
    </ul>

</div>
</main>
{%endblock%}