{% extends 'basetheam.html' %}

{%block content%}

<div class="card">

    <img src="static/imgs/Melhem-Barakat.jpeg" alt="Melhem-Barakat photo" style="border-radius: 50%; width: 100px; height: 100px;">
    <h1><a href="artistpage"></a> Melhem Barakat </a></h1>
    <p>Ta'a Nensa</p>
    <p>Production Date: 12 Years Ago</p>



<h3>Albums</h3>
<audio controls>
    Ta'a Nensa:  <source src="" type="audio/"> 
    <span class="heading">User Rating</span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <hr style="border:3px solid #f1f1f1">

    Badak Maleoun Seneh: <source src="" type="audio/">
                <span class="heading">User Rating</span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <hr style="border:3px solid #f1f1f1"> 

            </audio>
            <input type="submit" value="Back" style="width: 100px; height: 30px; margin-left: 670px;">
                </div>


{%endblock%}